@import 'primereact/resources/themes/saga-blue/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


.attribute { padding-left: 5px; }
.attribute div.inputs > div { display: inline-block; }
.attribute div.inputs { display:flex; align-items: center; padding-top: 2px; }
.attribute div.inputs .input { padding: 0px 4px; }
.attribute div.inputs .actions { }

.generic .attribute { display: flex; align-items: center; }
.generic .attribute label { padding: 2px; min-width: 6rem; }

.templatebutton { display: block; width: 25vw;}

.entry-content #wppresence-frontend .fullwidth { width: 100%; }

.entry-content #wppresence-frontend ul {
    list-style-type: none;
    margin: 0 0 10px 0;
}

.entry-content #wppresence-frontend ul li {
    margin: 0;
    display: flex;
    align-items: center;
    position: relative;
}
.entry-content #wppresence-frontend ul li.absent {
    background-color: #ffaaaa;
}

.entry-content #wppresence-frontend ul li label {
    margin-bottom: 0;
    margin-left: 10px; 
}
.entry-content #wppresence-frontend ul li span.icon { margin-left:auto; }

.entry-content #wppresence-frontend ul li span.icon a i { padding: 2px 4px; }

#wppresence-frontend div.container h4 { margin-bottom: 0.2rem; }
#wppresence-frontend div.container table.groupitems { border-width: 0px; margin: 0px; }
#wppresence-frontend div.container table.groupitems td { line-height: 1rem; }
#wppresence-frontend div.container table.groupitems td label { margin: 0px; }

#wppresence-frontend div.container div.row button.p-button.floataction {
    right: 20px;
    bottom: 20px;
    position: fixed;
    width: 4rem;
    height: 4rem;
}

.floataction span.pi {
    font-size: 2em;
}

.groupcheck { width: 1px; }